.wrapper {
  // tuỳ vào width của design mà đổi lại px (dự án cũ là 1920px)
  max-width: 1440px;
  margin: 0 auto;
}
.container {
  // tuỳ vào width của phần tử con của design mà đổi lại px (dự án cũ là 1140px)
  max-width: 1140px;
  margin: 0 auto;
}
.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
// column
.flex-start-column {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.flex-end-column {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
.flex-between-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.flex-around-column {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
//@import "./template.scss;
// Example
// .btn-confirm-style {
//   @extend .btn-no-style;
// }
