@import "./styles/_reset.scss";
@import "./styles//template.scss";
html {
  // VD: cho width 33% nhưng khi dùng border or padding kích thước lúc này sẽ tăng lên mức 33% -> dùng box-sizing: border-box thì lúc này vẫn cố định là width 33% cái padding or border này sẽ nằm bên trong mức 33% chứ không tăng lên vượt quá mức 33% 
  box-sizing: border-box;
}
body {
  line-height: 1;
  font-family: $font;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
.home-page {
  width: 100%;
  @extend .wrapper;
  @extend .flex-start-column;
}
